
@font-face {
  font-family: 'Merriweather';
  src: url('scss/variables/fonts/merriweather-lightitalic-webfont.woff2') format('woff2'), url('scss/variables/fonts/merriweather-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('scss/variables/fonts/merriweather-italic-webfont.woff2') format('woff2'), url('scss/variables/fonts/merriweather-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('scss/variables/fonts/roboto-light-webfont.woff2') format('woff2'), url('scss/variables/fonts/roboto-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('scss/variables/fonts/roboto-lightitalic-webfont.woff2') format('woff2'), url('scss/variables/fonts/roboto-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('scss/variables/fonts/roboto-medium-webfont.woff2') format('woff2'), url('scss/variables/fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('scss/variables/fonts/roboto-mediumitalic-webfont.woff2') format('woff2'), url('scss/variables/fonts/roboto-mediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('scss/variables/fonts/roboto-black-webfont.woff2') format('woff2'), url('scss/variables/fonts/roboto-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('scss/variables/fonts/roboto-blackitalic-webfont.woff2') format('woff2'), url('scss/variables/fonts/roboto-blackitalic-webfont.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}