.category-navigation {
  background-color: $color__bg;
  height: 100px;
  width: $size__site-main;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $size__tablet) {
    height: 140px;
  }

  .wrapper {
    width: $size__box;
    display: flex;
    justify-content: flex-start;
  }

  .category-list {
    width: 100%;
    margin: 0;
    list-style: none;
    display: flex;
    position: relative;
    z-index: 900;

    li {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      font-weight: $font__weight-strong;

      a {
        color: $color__main;
        border-bottom: 2px solid transparent;
      }

      a:hover {
        border-bottom: 2px solid $color__main;
      }

    }

    li#category-list-toggle {
      position: relative;
      z-index: 999;
      cursor: pointer;
      margin-left: auto;

      #category-list-rest {
        margin: 0;
        position: absolute;
        background-color: $color__bg;
        width: 250px;
        z-index: 999;
        border-radius: 5px;
        top: 78px;
        right: 20px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        text-align: right;

        li {
          width: 100%;
          text-align: right;
        }
      }

    }

    @media screen and (max-width: $size__tablet) {
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;

      li#category-list-toggle {
        width: 100%;
        text-align: center;
        justify-content: center;

        #category-list-rest {
          width: 100%;
          right: auto;
          top: 60px;

          li {
            justify-content: center;
          }
        }
      }
    }
  }
}
