.main-navigation {
	clear: both;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	.menu-principal-container {
		display: flex;
		align-items: center;

		& > ul {
			margin: 0;
			display: flex;
			flex-wrap: wrap;

			@media screen and (max-width: $size__tablet) {
				display: none;
			}

			li {
				display: flex;
				align-items: center;
				list-style: none;
				@include font-size(1);
				margin-right: 2rem;
				font-family: $font__main;
				font-weight: $font__weight-strong;

				@media screen and (max-width: $size__tablet) {
					margin-right: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				& > a {
					padding: 4px 14px;
					border: 2px solid transparent;
					color: $color__link;

					@media screen and (max-width: $size__tablet) {
						text-align: right;
					}
				}

				&:hover > a,
				&:focus > a {
					background-color: transparent;
					color: $color__main;
					text-decoration: underline;
					cursor: pointer;
				}

				&:last-child > a {
					color: $color__main;
					transition: all ease-in-out 0.15s;

					&:hover,
					&:focus {
						transition: all ease-in-out 0.25s;
					}
				}
			}

			a {
				display: block;
				text-decoration: none;
			}

			.current_page_item > a,
			.current-menu-item > a,
			.current_page_ancestor > a,
			.current-menu-ancestor > a {
			}

			.search-form {
				background-color: transparent;
				padding: 0;
				justify-content: left;

				& > label {
					width: auto;
				}

				input[type="search"] {
					@include font-size(1);
					text-align: right;
				}

			}

		}
	}

	.top-bar &.toggled {
		position: absolute;
		background-color: $color__main;
		transition: all ease-in-out 0.25s;
		height: 100vh;
		width: 100vw;
		top: 0;
		left: 0;
		z-index: 9999;

		.menu-principal-container {
			width: 100%;
			justify-content: center;

			& > ul {

				@media screen and (max-width: $size__tablet) {
					display: block;
				}

				li {
					justify-content: center;
					margin: 1.5rem 0;
					width: 100%;
					@include font-size(2);
					font-weight: $font__weight-body;

					a {
						width: auto;
						text-align: center;
						color: $color__text-hl;
						border: 0;
						border-bottom: 2px solid transparent;
						display: inline-block;
						padding: 4px 0;

						&:hover,
						&:focus,
						&:active {
							transform: none;
							border-bottom: 2px solid $color__text-hl;
						}
					}
					&:last-child > a {
						text-transform: none;
					}

				}

				.search-form {
					padding-bottom: 1rem;
					border-bottom: solid 2px $color__bg;
					margin-bottom: 0;

					input[type="search"] {
						@include font-size(2);
						text-align: left;
						color: $color__text-hl;

						&::placeholder {
							color: $color__text-hl;
						}
					}

					input[type="submit"] {
						@include font-size(2);
						color: $color__text-hl;
					}

				}

			}

		}
	}
}

/* Small menu. */
.main-navigation .menu-toggle::after {
	content: "Menu";
}
.main-navigation.toggled .menu-toggle::after {
	content: "Cerrar";
}
.menu-toggle {
	display: none;
	z-index: 100;
	position: absolute;
	width: auto;
	border-radius: 20px;
	padding: 0 2rem;
	margin: 0;
	top: 33px;
	left: 20px;
	height: 40px;
	@include font-size(1);
	color: $color__text-hl;
	font-family: $font__main;
	font-weight: $font__weight-strong;
	border: 2px solid $color__bg;

	&:hover,
	&:active,
	&:focus {
		cursor: pointer;
		background-color: $color__bg;
		color: $color__main;
		border: 2px solid $color__main;
	}

	@media screen and (max-width: $size__tablet) {
		display: flex;
		align-items: center;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	width: 100%;

	.nav-links {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.site-main & {
		margin: 3em 0;
		overflow: hidden;
	}

	.nav-next,
	.nav-previous {
		display: inline-block;
		text-transform: uppercase;
		padding: 15px 30px;
		border-radius: 30px;
		font-weight: 500;
		border: 2px solid $color__link;
		background-color: $color__main-dark;

		a,
		a:visited {
			color: $color__link;
		}

		&:hover,
		&:active,
		&:focus,
		&:visited {
			background-color: $color__link;

			a,
			a:visited {
				color: $color__main-dark;
			}
		}
	}
}