$blocks-button__height: 56px;

.wp-block-button {
	color: $color__text-hl;
	margin-bottom: 1.5em;

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		text-align: right;
	}
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.entry-content .wp-block-button__link,
.wp-block-button__link,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt{
	background-color: $color__main;
	border: none;
	border-radius: $blocks-button__height / 1.5;
	box-shadow: none;
	color: $color__text-hl;
	cursor: pointer;
	display: inline-block;
	@include font-size(1.2);
	text-transform: inherit;
	font-weight: $font__weight-strong;
	font-family: $font__header;
	margin: 0;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	overflow-wrap: break-word;

	&:hover,
	&:focus,
	&:active {
		color: $color__main;
		border-bottom: 2px solid $color__main;
		transition: all ease-in-out 0.25s;
		transform: translate(0, 1px);
		background-color: $color__bg;
	}

	@media screen and (max-width: $size__tablet) {

		width: 100%;
		margin: 0.5rem 0;

	}

	&.button-primary {

	}
	&.button-secondary {
		background-color: transparent;
		padding: 12px 0 0;
		border-bottom: 2px solid $color__text-hl;
		border-radius: 0;

		&:hover {
			background-color: transparent;
		}
	}
}

input[type="submit"]:hover {
	color: $color__text-hl;
}


.entry-content .wp-block-button__link,
.wp-block-button__link {
	box-shadow: 0px 5px 40px 0px #cdd6d8;
}

.is-style-squared .wp-block-button__link {
	border-radius: 0;
}

.is-style-outline {
	color: $color__main;

	.wp-block-button__link {
		background: transparent;
		border: 2px solid currentcolor;
	}
}

.button-content {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}