input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="submit"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_left select,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_right select,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio],
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select,
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	color: $color__text-body;
	padding: 3px;
	border: 0;
	border-bottom: 1px solid $color__border-field;
	height: 40px;

	&:focus {
		color: $color__main;
	}

	&:last-child,
	&:last-of-type {
		margin-bottom: 1rem;
	}
}

// WooCommerce select
.select2-container--default .select2-selection--single {
	height: 40px;
	display: flex;
	align-items: center;
}

.search-form {
	background-color: $color__bg-light;
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;

	& > label {
		width: 100%;
	}

	input[type="search"] {
		@include font-size(1.5);
		width: 100%;
		color: $color__text-title;
		border: 0;
		background-color: transparent;
		text-align: left;
		-webkit-appearance: none;
		padding-right: 0.5rem;
		margin-right: 1rem;

		&:last-child,
		&:last-of-type {
			margin-bottom: 0;
		}

		&:focus,
		&:hover {
			color: $color__main;
			outline: none;
		}
	}

	input[type="submit"] {
		color: $color__text-title;
		padding: 0;
		border: 0;
		border-radius: 0;
		margin-bottom: 0;
		background-color: transparent;
		@include font-size(1.2);

		&:focus,
		&:hover {
			color: $color__main;
			outline: none;
		}

		@media screen and (max-width: $size__tablet) {
			width: initial;
		}
	}

}

textarea {
	width: 100%;
}

.gfield,
.gfield_checkbox {
	list-style: none;
	margin: 0;
	font-weight: 300;

	input {
		border: 1px solid $color__text-hl;
		border-radius: 2px;
	}
	& > li {
		margin: 0;
	}
}
.gform_fields {
	margin: 0;
	font-weight: 500;
}

select,
.gfield_select,
.tix-column-quantity select {
	height: 33px;
	background-color: white;
	border: 1px solid $color__text-hl;
	border-radius: 2px;
}

.gform_wrapper .field_description_below .gfield_description,
.gform_wrapper .description,
.gform_wrapper .gfield_description,
.gform_wrapper .gsection_description{
	padding: 0;
}

.gform_wrapper .clear-multi {
	display: flex;
	justify-content: flex-start;
}

body .gform_wrapper ul li.gfield,
.gform_wrapper ul.gform_fields li.gfield {
	margin: 0 0 1.5rem 0;
	padding-right: 0;

	.entry-content & {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		& > *:first-child {
			width: 40%;
			margin: 0;
			padding-right: 20px;
			justify-content: flex-start;
		}
		& > *:nth-child(n):not(:first-child) {
			width: 60%;
			margin: 0;
			margin-left: auto;

			& > * {
				width: 100%;
			}
		}

		@media screen and (max-width: $size__tablet) {
			flex-wrap: wrap;
			justify-content: flex-start;
			& > *:nth-child(1),
			& > *:nth-child(2) {
				width: 100%;
				padding-right: 0;
			}
		}
	}
}


/* botones acción alineación derecha */
.gform_wrapper .gform_footer,
.gform_wrapper .gform_page_footer {
	text-align: right;

	.button,
	button {
		background-color: $color__main;
		border: 2px solid $color__main;
		color: $color__text-hl;
	}

	.entry-content & .button,
	.entry-content & button {
		width: 60%;
		height: 50px;
	}
}
/* anchura textarea */
@media only screen and (min-width: 641px) {
	.gform_wrapper textarea.medium {
		width: calc(50% - 8px);
	}
}
/* Estilo etiqueta opcional */
.gfield_optional {
	font-weight: lighter;
	font-style: italic;
	color: #999;
	font-size: 0.85em;
	margin-left: 0.5rem
}
.gform_wrapper label.gfield_label {
	font-weight: 500;
}
/* Consentimiento */
p.rgpd-banner {
	@include font-size(0.6);
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 0;
	-webkit-text-fill-color: $color__main;
	-webkit-box-shadow: 0 0 0px 1000px transparent inset;
	transition: background-color 5000s ease-in-out 0s;
}

input:-internal-autofill-selected {
	background-color: $color__bg !important;
}

[id*="paso-"] {
	visibility: hidden;
	height: 0;
	margin: 0;
	padding: 0
}