#colophon {
  background-color: $color__background-footer;
  width: $size__site-main;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 3rem 0;
  z-index: 0;

  .wrapper {
    width: $size__box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0 20px;
  }

  .footer-widget-area {
    width: 100%;

    img {
      margin-bottom: 1rem;
    }
    @media screen and (max-width: $size__tablet) {
      text-align:  center;
    }
  }

  .footer-navigation {
    width: 60%;

    ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      li {
        list-style: none;
        & > a {
          border-bottom: 2px solid $color__bg;
        }
      }
      li:not(:last-child) {
        margin: 0 1rem 0 0;
      }
    }

    @media screen and (max-width: $size__tablet) {
      width: 100%;
      margin: 1rem 0 3rem;

      ul{
        justify-content: center;
        li {
         text-align: center;
         margin: 0;
       }
      }
    }
  }

  .footer-site-name {
    width: 40%;
    justify-content: flex-end;
    text-align: right;

    @media screen and (max-width: $size__tablet) {
      width: 100%;
      justify-content: center;
      text-align: center
    }
  }

  h3, a, address {
    color: $color__text-hl;
  }
  h3 {
    margin-bottom: 1rem;
  }

  .button {
    margin: 1rem 0;
  }

  p, ul {
    color: $color__text-hl;
    margin: 0;
    @include font-size(1);
  }

}