$height-site-header: 450px;
$height-top-bar: 100px;

.site-header {
  width: $size__site-main;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  height: $height-site-header
}

.site-header {
  height: $height-site-header;
}

.top-bar {
  width: $size__site-main;
  height: $height-top-bar;
  background-color: $color__bg;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  .wrapper {
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
  }

  $site-title-width: 25%;

  #site-login {
    width: 100px;
    margin-right: 20px;
  }
  .main-navigation {
    width: calc(33.33% - 120px);
    flex-grow: 2;
  }
  .site-title {
    width: 33.33%;
    display: flex;
    justify-content: center;
  }
  #site-order {
    width: 33.33%;
  }
}

.site-title {
  display: flex;
  align-items: center;
}

.hero {
  padding-top: 2rem;
  width: $size__box-inner;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: $color__text-hl;
  height: $height-site-header - $height-top-bar;

  [id*="widget-"] {
    width: 420px;
  }

  h1, p {
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  p {
    @include font-size(1);
  }

  @media screen and (max-width: $size__box-inner + 60px) {
    width: $size__tablet;
  }

  @media screen and (max-width: $size__tablet + 60px) {
    width: 90vw;
  }
  @media screen and (max-width: $size__tablet) {
    [id*="widget-"] {
      width: 100%;
    }
  }

  .cta-area {
    a.button.button-secondary {
      margin: 0 24px;
    }

    @media screen and (max-width: $size__tablet) {
      text-align: center;

      a.button.button-primary {
        margin-bottom: 1rem;
      }
      a.button.button-secondary {
        display: inline;
        width: auto;
      }

    }
  }
}