$height-product-box        : 150px;
$height-product-box-mobile : $height-product-box - 30px;

.woocommerce-page,
.woocommerce,
.woocommerce.columns-3 {
  ul.products {
    margin-bottom: 0;

    li.product {
      width: 32%;
      margin: 0 0 2em 0;
      background-color: $color__bg;
      display: flex;
      flex-wrap: wrap;
      border-radius: 5px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
      overflow: hidden;
      align-items: flex-start;
      justify-content: center;
      height: $height-product-box;

      &:not(:nth-child(3n)) {
        margin: 0 2% 2em 0;
      }

      .woocommerce-loop-product__link {
        width: $height-product-box;
        order: 2;
        border-bottom: 0;

        img {
          margin: 0;
        }
      }

      .woocommerce-loop-product__meta {
        width: calc(100% - #{$height-product-box});
        padding: 15px 0 12px 20px;
        order: 1;
        height: $height-product-box;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        & > * {
          width: 100%;
        }

        .woocommerce-loop-product__title {
          font-size: 0.9em;
          padding: 0;
        }

        .woocommerce-loop-product__description {
          font-size: 0.7em;
          margin: 0;
        }

        .woocommerce-loop-product__price {
          font-weight: $font__weight-strong;
          font-size: 0.8em;
          margin: 0;
          align-items: flex-end;
        }
      }

      .yith-wcqv-button {
        padding: 0;
        width: 100%;
        height: $height-product-box;
        margin: 0;
        margin-top: -$height-product-box;
        opacity: 0;
        order: 3;
      }

      @media screen and (max-width: $size__box-inner) {
        margin: 0 0 1em 0;
        width: 100%;
        height: $height-product-box-mobile;

        &:not(:nth-child(3n)) {
          margin: 0 0 1em 0;
        }

        .woocommerce-loop-product__link {
          width: $height-product-box-mobile;
        }

        .woocommerce-loop-product__meta {
          width: calc(100% - #{$height-product-box-mobile});
          padding: 15px 0 12px 20px;
          order: 1;
          height: $height-product-box-mobile;

          .yith-wcqv-button {
            height: $height-product-box-mobile;
          }
        }
      }

      li.last {
        margin-right: 0;
      }
    }
  }
}