

#yith-quick-view-modal,
#yith-quick-view-modal.open {

  .yith-quick-view-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .yith-wcqv-main {
    overflow-y: visible;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.1);
  }

  .yith-wcqv-wrapper {
    height: 40vh !important;
    width: 60vw !important;

    @media screen and (max-width: $size__tablet +60px ) {
      height: 70vh !important;
      width: 86vw !important;
    }
  }

}

.yith-quick-view-overlay {

}


#yith-quick-view-content {

  .product_meta {
    display: none;
  }

}

#yith-quick-view-content {
  .product {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    .images {
      order: 2;
      width: 40%;
      overflow: hidden;
      border-bottom-right-radius: 10px;

      figure,
      .woocommerce-product-gallery__image {
        height: 40vh;

        img {
          height: 100%;
          width: auto;
          max-width: none;
          border-bottom-right-radius: 10px;
        }
      }

    }
    .summary {
      order: 1;
      padding: 30px;

      .summary-content {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;

        & > * {
          width: 100%;
        }

        h1.product_title.entry-title {
          order: 1;
          font-weight: $font__weight-body;
          font-size: 1.8rem;
        }
        .woocommerce-product-details__short-description {
          order: 2;
        }
        .price {
          order: 3;
        }
        .cart {
          order: 4;
          margin-bottom: 0;
          align-items: center;
          display: flex;

          .quantity {
            margin-right: 20px;

            input {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    @media screen and (max-width: $size__tablet +60px ) {
      .images {
        order: 1;
        width: 100%;
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;

        figure,
        .woocommerce-product-gallery__image {
          height: 30vh;

          img {
            height: auto;
            width: 100%;
            max-width: none;
            border-bottom-right-radius: 10px;
          }
        }

      }
      .summary {
        order: 2;
        width: 100%;
      }
    }

  }
}

#yith-quick-view-close {
  border-radius: 100%;
  background-color: $color__main;
  color: $color__text-hl;
  font-weight: $font__weight-headings;
  width: 45px;
  height: 45px;
  top: -22.5px;
  right: -22.5px;
  border: 0;
  line-height: 18px;
  z-index: 99;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: $color__text-hl;
    background-color: $color__main-dark;
  }
}